<div class="component">
  <!-- <form  (ngSubmit)="login()" class="login"> -->
  <form class="login" (ngSubmit)="onLogin()">
    <h2>LOGIN</h2>
    <label for="username">Username</label>
    <div class="inputDiv">
      <input
        type="text"
        id="username"
        name="username"
        autocomplete="off"
        [(ngModel)]="username"
        required
      />
    </div>
    <label for="password">Password</label>
    <div class="inputDiv">
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>
    <button type="submit">Login</button>
  </form>
</div>
